a {
  @apply text-pink-600;
}

body {
  @apply caret-pink-600;
}

.primary-color {
  @apply text-pink-600;
}

.card {
  @apply bg-white w-full overflow-hidden;
}

.flex-center {
  @apply flex justify-center items-center;
}

textarea {
  @apply text-lg;
}

textarea::placeholder {
  @apply text-lg text-gray-500;
}

.ant-input-textarea textarea {
  @apply text-lg;
}

.ant-input-textarea textarea::placeholder {
  @apply text-lg text-gray-500;
}
