@import '~antd/dist/antd.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  /*background-color: #F0F2F5;*/
  background-color: #FAFAFA;
}

div#root {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
