@import '~antd/dist/antd.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  src: local('Pretendard-Medium'),
    url("./Pretendard-Medium.woff2") format("woff2"),
    url("./Pretendard-Light.woff2") format("woff2"),
    url("./Pretendard-Regular.woff2") format("woff2"),
    url("./Pretendard-SemiBold.woff2") format("woff2"),
    url("./Pretendard-Thin.woff2") format("woff2"),
    url("./Pretendard-ExtraBold.woff2") format("woff2");
}

* {
  box-sizing: border-box;
  font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  /*background-color: #F0F2F5;*/
  background-color: #FAFAFA;
}

div#root {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.card {
  @apply bg-white w-full rounded-md shadow-md overflow-hidden;
}

.flex-all {
  @apply flex justify-center items-center;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #d5dae8;
}

::-webkit-scrollbar-thumb {
  background-color: #b2c5d2;
}

.ant-card-body {
  padding: 10px !important;
}

.ant-image-preview-img-wrapper {
  display: flex;
  justify-content: center;
}
